<header class="jumbotron">
  <h1 class="text-center" >{{title}}</h1>
</header>
<article class="container">
    <div class="row">
      <form #formCadastro="ngForm" class="col-sm-6" (submit)="salvar($event)">
        <div class="form-group">
          <label for="titulo" >Título</label> <br>
          <input #inputTitulo="ngModel" required [(ngModel)]="foto.titulo" id="titulo" name="titulo" type="text" class="form-control">
          <div class="alert alert-warning" *ngIf="inputTitulo.invalid">Titulo deve ser preenchido</div>
        </div>

        <div class="form-group">
          <label for="url">Url</label><br>
          <input #inputTitulo="ngModel" required [(ngModel)]="foto.url" name="url" id="url" class="form-control">
          <div class="alert alert-warning" *ngIf="inputTitulo.invalid">Url deve ser preenchida</div>
        </div>

        <div class="form-group">
          <label for="descricao" >Descrição</label><br>
          <textarea [(ngModel)]="foto.descricao" name="descricao" id="descricao" class="form-control" ></textarea>
        </div>      

        <a [routerLink]="['/']" class="btn btn-default" >
          Voltar
        </a>

        <button [disabled]="formCadastro.invalid" class="btn btn-primary">
          Salvar
        </button>
      </form>

      <aside class="col-sm-4">
        <PainelFoto tituloFoto="{{foto.titulo}}">
          <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </PainelFoto>
      </aside>
    </div>
  </article>